.card {
    border : solid 1px black;
    margin-bottom: 10px;
}

.title {
    background-color: #D0CEBA;
}

.description {
    border-top : solid 1px black;
    border-bottom : solid 1px black;
    padding-left : 20px;

}

.director {
    background-color: #DCE3F4;
    padding-left : 40px;
}

.producer {
    background-color: #DCE3F4;
    padding-left : 40px;
}

.imgLogo {
    padding-left : 40px;
}

.btnMovie {
    margin-left: 40px;
    border-radius: 4px;
}

.btnPeople {
    margin-left: 10px;
    border-radius: 4px;
}

.person {
    padding-left: 30px;
}

.personcard:nth-child(odd) {
    background-color: rgb(180, 206, 216);
  }

.personcard:nth-child(even) {
    background-color: #DCE3F4;
  }

  .header {
    background-image: linear-gradient(rgb(175, 215, 231), rgb(87, 146, 201));
    height: 200px;
    padding-top: 10px;
  }